@import "../../scss/index.scss";

.jumbotron {
    box-shadow: inset 0px 0px 50px -6px rgba(0,0,0,0.65);
    background-color: $color-primary;
    height: 80vh;
    max-height: 80vh;
    color: $color-logo;

    .slogan{
        margin-top: 40px;
        margin-bottom: calc(40px + 9vw);
    }
    
    .logo {
        margin-top: calc(100px - 6vw);
        font-family: $font-logo;
        font-weight: 800;
        font-size: calc(40px + 5vw);;
        color: $color-logo;
    }

    button{
        color: $color-text;
        background-color: $color-accent;
        padding: 10px 60px;
        font-size: 20px;
        border-radius: 50px;
    }
}

@media only screen and (max-width: 800px) {
    #btnIngresar{
        margin-bottom: 5vw;
    }
    .slogan{
        margin-bottom: 40px !important;
    }
  }