.main-component {
    .grid-layout{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 230px));
        grid-gap: 15px 15px;
        justify-content: space-evenly;
    }
}