@import "../../scss/index.scss";

.Formulario-Palabra {
    .row{
        margin-right: 0px;
        margin-left: 0px;
    }
    .imagen{
        width: 400px;
        height: 600px;
        background-color: red;
    }
}