@import "../../scss/index.scss";

.basic-modal{

}
.modal-custom{
    .modal-content{
        background-color: $color-primary-dark;
        color: white;
        padding: 10px;
        border: 0px;
        border-radius: 2%;
        .modal-header{
            border-bottom: 1px solid $color-divider;
        }
    }
}